.body * {
  box-sizing: border-box;
}

.item {
  border: 1px solid black;
  background: lightgray;
}

[class^='container-'] {
  background: floralwhite;
  border: 1px solid black;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.sub-container {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.last {
  margin-bottom: 0 !important;
}

.line {
  display: flex;
  margin-bottom: 10px;
}

.line>.item {
  width: 100px;
  height: 100px;
}

.left {
  justify-content: flex-start;
}

.left>.item {
  margin-right: 10px;
}

.right {
  justify-content: flex-end;
}

.right>.item {
  margin-left: 10px;
}

.grid {
  display: flex;
  margin-bottom: 10px;
}

.grid>.item {
  flex: auto;
  height: 100px;
  margin: auto 5px;
}

.grid>.item:first-child {
  margin-left: 0;
  margin-right: 5px;
}

.grid>.item:last-child {
  margin-left: 5px;
  margin-right: 0;
}

.one-grid>.item {
  margin: auto 0 !important;
}

.holygrid {
  width: 100%;
  min-height: 300px;
  flex-direction: column;
  display: flex;
}

.holygrid>.header {
  height: 50px;
  margin-bottom: 10px;
}

.holygrid>.content {
  display: flex;
  margin-bottom: 10px;
  flex: auto;
}

.holygrid .left-bar {
  width: 80px;
  margin-right: 10px;
}

.holygrid .main {
  flex: auto;
}

.holygrid .right-bar {
  margin-left: 10px;
  width: 80px;
}

.holygrid>.footer {
  height: 50px;
}

.article {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.image {
  margin-right: 15px;
}

.image>img {
  width: 100px;
  height: 100px;
}

.text>p {
  margin: 0;
}

.split {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.split>.item {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.split>.item:last-child {
  margin-right: 0;
}