body {
  margin: 0;
  font: 16px 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif #000;
}

body * {
  box-sizing: border-box;
}

p {
  margin: 0;
}

.header,
.banner {
  width: 100%;
  min-width: 960px;
}

.header {
  height: 80px;
  background: #000;
}

.main {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-opts {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.nav-opt {
  position: relative;
  margin-left: 40px;
  padding-right: 30px;
  padding-left: 10px;
  z-index: 10;
  height: 100%;
  line-height: 80px;
  white-space: nowrap;
  color: #fff;
  background: 99% 50% no-repeat;
  background-image: url(https://raw.githubusercontent.com/StudentWan/efe-work-task/master/task02/static/img/arrow.png)
}

.nav-opt:hover {
  background: url(https://raw.githubusercontent.com/StudentWan/efe-work-task/master/task02/static/img/arrow.png) 99% 50% no-repeat, #303030;
}

.nav-opt:hover>.child-opts {
  display: block;
}

.child-opts {
  display: none;
  position: absolute;
  padding-left: 50px;
  padding-right: 10px;
  top: 80px;
  right: 0;
  text-align: right;
  font-size: 20px;
  color: #fff;
  background: #303030;
}

.child-opt {
  height: 3em;
}

.banner {
  display: flex;
  justify-content: center;
  position: relative;
  height: 260px;
  background: #2d7079;
}

[class^='banner-'] {
  flex: 1;
  height: 260px;
}

.banner-text {
  background: url(https://raw.githubusercontent.com/StudentWan/efe-work-task/master/task02/static/img/left.png) 100% 50% no-repeat, #2d7079;
}

.banner-img {
  background: url(https://raw.githubusercontent.com/StudentWan/efe-work-task/master/task02/static/img/right.png) 0% 50% no-repeat, #2d7079;
}

.slogan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 165px;
  color: #fff;
}

.slogan-main {
  font-size: 32px;
  opacity: .5;
}

.slogan-sub {
  font-size: 44px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

.sidebar {
  width: 30%;
  overflow: auto;
  border: 1px solid #ebebeb;
  background: #efefef;
}

ul {
  padding: 0;
  list-style: none;
}

.sidebar-item {
  line-height: 30px;
}

.bar-title {
  padding-left: 20px;
}

.sub-item {
  display: none;
  text-align: center;
  background: #fff;
}

.main-table,
.head-table {
  word-break:break-all;
  width: 68%;
  line-height: 50px;
  text-align: center;
  border: 1px solid #ebebeb;
  border-collapse: collapse;
}

.head-table {
  position: fixed;
  top: 0;
  display: none;
}

tr:nth-of-type(odd) {
  background: #efefef;
}

td {
  min-width: 70px;
}

.edit-dialog,
.delete-dialog {
  display: none;
  position: fixed;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 150px;
  background: #fff;
  z-index: 11;
}

.delete-dialog {
  line-height: 75px;
  text-align: center;
}

.edit-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
}

.edit-form input {
  float: right;
  margin-bottom: 10px;
}

.layer {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000;
  opacity: .5;
  z-index: 10;
}