$ondark: #fff;
$onlight: #000;
$lightgrey: #eee;
$font: 'Times New Roman',
Times,
sans-serif;
@mixin zero-margin($distance: 0) {
    margin: $distance;
}

@mixin flex($justify: center, $align: center, $flow: wrap row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-flow: $flow;
}

@mixin leftwidth {
    width: 60%;
}

@mixin rightwidth {
    width: 35%;
}

@mixin rightcontent {
    float: right;
    width: 35%;
}

@mixin title($size: 2.4rem) {
    .title {
        font-size: $size;
    }
}

@mixin border {
    border: 1px solid $lightgrey;
}

@mixin itempadding {
    padding: .5rem;
    @include border;
}

* {
    box-sizing: border-box;
}

html {
    font: {
        size: .625rem;
        family: $font;
    }
}

body {
    @include zero-margin;
}

p {
    @extend body;
}

.nav {
    @include flex($justify: space-between);
    padding: 1rem 2rem;
    height: 6rem;
    font-size: 2.4rem;
    color: $ondark;
    background: $onlight;
    .menu {
        padding: 0;
        list-style: none;
    }
}

.banner {
    img {
        max-width: 100%;
    }
}

.main {
    margin-top: 1rem;
}

.article-view {
    display: grid;
    grid-column: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    @each $count in 1,
    2,
    3 {
        .view-#{$count} {
            position: relative;
            grid-column: #{$count}/#{$count + 1};
            .view {
                max-width: 100%;
            }
            .description {
                position: absolute;
                left: 0;
                bottom: .3rem;
                padding: .5rem;
                width: 100%;
                max-height: 50%;
                overflow: auto;
                color: $ondark;
                background: rgba(0, 0, 0, .6);
                @include title(1.6rem);
            }
        }
    }
}

.article-detail {
    margin-top: .5rem;
    .detail {
        padding: 1rem 0;
        display: grid;
        grid-column: 1fr 1fr;
        grid-column-gap: 1rem;
        align-items: center;
        .view {
            grid-column: 1/2;
            max-width: 100%;
        }
        .description {
            grid-column: 2/3;
            @include title;
        }
    }
}

.sweep {
    position: relative;
    color: $ondark;
    .view {
        max-width: 100%;
    }
    .description {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        @include title;
    }
}

.list {
    .description {
        margin: 2rem auto;
        @include title;
        .time {
            color: #d2d2d2;
        }
    }
}

.footer {
    @include flex;
    width: 100%;
    height: 6rem;
    color: $ondark;
    background: #d2d2d2;
    @include title;
}

@media screen and (min-width: 1024px) {
    .menu {
        @include flex;
        .menu-item {
            margin-right: 1em;
            &:last-of-type {
                @include zero-margin;
            }
        }
    }
    .article-view {
        @include leftwidth;
    }
    .article-detail {
        @include leftwidth;
        border-top: 2px solid $lightgrey;
    }
    .sweep {
        @include rightcontent;
    }
    .list {
        @include rightcontent;
        clear: right;
    }
}

@media screen and (max-width: 1024px) {
    .nav {
        @include flex;
    }
    .menu {
        @include flex($justify: space-around);
        position: fixed;
        left: 0;
        bottom: 0;
        @include zero-margin;
        color: $onlight;
        width: 100%;
        background: $ondark;
        @include border;
        .menu-item {
            padding: 1em 0;
        }
    }
    .main {
        display: grid;
        grid-template-row: auto auto auto auto;
        @each $class,
        $count in ('.article-view': 1, '.sweep': 2, '.article-detail': 3, '.list':4) {
            #{$class} {
                width: 100%;
                grid-row: #{$count}/#{$count + 1};
            }
        }
    }
    .article-detail {
        .detail {
            @include itempadding;
            .view {
                grid-column: 2/3;
                grid-row: 1/2;
            }
            .description {
                grid-column: 1/2;
                grid-row: 1/2;
            }
        }
    }
    .list {
        .description {
            @include itempadding;
        }
    }
}