@import 'grid.css';
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body,
p {
    margin: 0;
}

.view {
    max-width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em .5em;
    height: 2.5em;
    font-size: 2.4rem;
    color: #fff;
    background: #000;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.article-view,
.sweep {
    color: #fff;
}

.info {
    position: relative;
}

.info .description {
    position: absolute;
    left: 0;
    right: 0;
    bottom: .25em;
    background: rgba(0, 0, 0, .5);
}

.info .title {
    font-size: 1.6rem;
}

.sweep {
    position: relative;
}

.sweep .description {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.list .description {
    padding: .5em;
}

.sweep .title,
.detail .title,
.list .title {
    font-size: 2.4rem;
}

.list .time {
    color: #d2d2d2;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    color: #fff;
    background: #eee;
}

@media screen and (min-width: 1024px) {
    .list {
        margin-top: -50px;
    }
    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-item {
        margin-right: 1rem;
    }
    .menu-item:last-of-type {
        margin-right: 0;
    }
}

@media screen and (max-width: 1024px) {
    .list {
        margin: 0;
    }
    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu {
        display: flex;
        justify-content: space-around;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        color: #000;
        background: #fff;
        border: 1px solid #eee;
    }
    .detail,
    .list .description {
        border: 1px solid #eee;
        margin-bottom: .5em;
    }
    .detail .description {
        order: -1;
    }
}
