body {
  margin: 0;
  font: 16px 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif #000;
}

body * {
  box-sizing: border-box;
}

p {
  margin: 0;
}

.header,
.banner,
.footer {
  width: 100%;
  min-width: 960px;
}

.header {
  height: 80px;
  background: #000;
}

.main {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-opts {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.nav-opt {
  position: relative;
  margin-left: 40px;
  padding-right: 30px;
  padding-left: 10px;
  z-index: 10;
  height: 100%;
  line-height: 80px;
  white-space: nowrap;
  color: #fff;
  background: 99% 50% no-repeat;
  background-image: url(https://raw.githubusercontent.com/StudentWan/efe-work-task/master/task02/static/img/arrow.png)
}

.nav-opt:hover {
  background: url(https://raw.githubusercontent.com/StudentWan/efe-work-task/master/task02/static/img/arrow.png) 99% 50% no-repeat, #303030;
}

.nav-opt:hover>.child-opts {
  display: block;
}

.child-opts {
  display: none;
  position: absolute;
  padding-left: 50px;
  padding-right: 10px;
  top: 80px;
  right: 0;
  text-align: right;
  font-size: 20px;
  color: #fff;
  background: #303030;
}

.child-opt {
  height: 3em;
}

.banner {
  display: flex;
  justify-content: center;
  position: relative;
  height: 260px;
  background: #2d7079;
}

[class^='banner-'] {
  flex: 1;
  height: 260px;
}

.banner-text {
  background: url(https://raw.githubusercontent.com/StudentWan/efe-work-task/master/task02/static/img/left.png) 100% 50% no-repeat, #2d7079;
}

.banner-img {
  background: url(https://raw.githubusercontent.com/StudentWan/efe-work-task/master/task02/static/img/right.png) 0% 50% no-repeat, #2d7079;
}

.slogan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 165px;
  color: #fff;
}

.slogan-main {
  font-size: 32px;
  opacity: .5;
}

.slogan-sub {
  font-size: 44px;
}

.articles {
  display: flex;
  margin-top: 20px;
  width: 100%;
  height: 240px;
}

.article {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 15px;
  padding: 20px;
  border: 1px solid #e2e2e2;
}

.article:last-child {
  margin-right: 0;
}

.main-head {
  font-size: 48px;
}

.sub-head {
  font-size: 24px;
  color: #bfbfbf;
}

.swipe {
  margin-top: 20px;
}

.swipe-content {
  position: relative;
  overflow: hidden;
}

.swipe-imgs {
  margin: 0;
  padding: 0;
  left: 0;
  position: relative;
  width: 960px;
  height: 185px;
  list-style: none;
}

.swipe-img {
  position: absolute;
}

.swipe-img:nth-child(2) {
  left: 960px;
}

.swipe-img:nth-child(3) {
  left: 1920px;
}

.swipe-img:last-child {
  left: 2880px;
}

.swipe-text {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #fff;
}

.swipe-btns {
  display: flex;
  justify-content: center;
}

.swipe-btns .sel {
  background: #9a9a9a;
}

.swipe-btn {
  margin-left: 10px;
  margin-right: 10px;
  width: 60px;
  height: 2px;
  border-radius: 15px;
  background: #eee;
}

.excel {
  margin-top: 15px;
}

.excel-tabs {
  display: flex;
  height: 60px;
}

.excel-tabs .sel {
  border: 1px solid #d1d1d1;
  border-bottom: none;
}

.excel-tab {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-bottom: 1px solid #d1d1d1;
  cursor: pointer;
}

.excel-caption {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  height: 120px;
  font-size: 18px;
  font-weight: 700;
}

.excel-main .sel {
  display: flex;
}

.excel-content {
  display: none;
  flex-flow: row wrap;
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
  border-top: 2px solid #ddd;
}

.col {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  height: 58px;
  font-size: 14px;
}

.row:last-child .col,
.row:first-child .col,
.col:first-child {
  font-weight: 700;
  font-size: 18px;
}

.row:last-child {
  border-bottom: 2px solid #ddd;
}

.col:first-child,
.col:nth-child(3) {
  background: #eee;
}

.free {
  color: #577a2d;
}

.low-price {
  color: #5c92dc;
}

.high-price {
  color: #c12e2d;
}

.col sup {
  margin-bottom: 9px;
}

.sign-up {
  display: flex;
  position: relative;
  margin-top: 40px;
  height: 220px;
}

.blanket {
  position: absolute;
  left: 80px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-content: flex-start;
  height: 153px;
}

[class^='sel-'],
.input-email {
  margin-top: 15px;
  padding-left: 15px;
  width: 226px;
  height: 36px;
  border: 1px solid #b3b4b6;
  outline: none;
}

[class^='sel-'] {
  display: block;
  background: url(https://raw.githubusercontent.com/StudentWan/efe-work-task/master/task02/static/img/form-arrow.png) 95% 50% no-repeat, #fff;
}

.blanket input::-webkit-input-placeholder {
  color: #d2d2d2;
}

.country-opts,
.city-opts {
  display: none;
  position: absolute;
  left: 0;
  width: 226px;
  height: 144px;
  border: 1px solid #b3b4b6;
  background: #fff;
}

.country-opts {
  top: 52px;
}

.city-opts {
  top: 104px;
}

.country-opt,
.city-opt {
  padding-left: 10px;
  width: 226px;
  height: 36px;
  line-height: 36px;
  white-space: nowrap;
  text-align: left;
}

.country-opt:hover,
.city-opt:hover {
  background: #d2d2d2;
}

.submit-btn {
  margin-left: 10px;
  width: 100px;
  height: 40px;
  font-size: 14px;
  border: 1px solid #d1d2d2;
  border-radius: 5px;
  color: #fff;
  background: linear-gradient(to top, #6f9ee0, #fff);
  outline: none;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 80px;
  font-size: 14px;
}
